fastapi>=0.110.0
uvicorn>=0.29.0
python-dotenv>=1.0.1
pydantic>=2.6.4
motor>=3.3.2
beanie>=1.25.0
cryptography>=42.0.5
aiofiles>=23.2.1
google-generativeai>=0.4.0
ezdxf>=1.1.0
pypdf>=4.0.0
python-multipart>=0.0.9
matplotlib>=3.8.0
PyMuPDF>=1.24.0
